<h1>提案結果</h1>
<p>朝の提案ドリンク: <%= @morning_suggestion.map { |drink| drink[:name] }.join(', ') %></p>
<p>昼の提案ドリンク: <%= @afternoon_suggestion.map { |drink| drink[:name] }.join(', ') %></p>
<p>夜の提案ドリンク: <%= @evening_suggestion.map { |drink| drink[:name] }.join(', ') %></p>
<p>カフェイン総摂取量: <%= @caffeine_total %> mg</p>