<style>
  .top-header {
    background-image: url(<%= asset_path('kaboompics_a-woman-works-at-a-desk-with-a-laptop-and-a-cup-of-coffee-9301.jpg') %>);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
<div class="top-header">
  <div class="card bg-overlay text-white text-center">
    <div class="card-body">
      <h1 class="card-title">インテリ ドリンク</h1>
      <p class="card-text">学習や仕事に集中できるドリンクを提供します</p>
    </div>
  </div>
</div>