<style>
  .top-header {
    background-image: url(<%= asset_path('kaboompics_a-woman-works-at-a-desk-with-a-laptop-and-a-cup-of-coffee-9301.jpg') %>);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .form-button {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
  }

  .btn-beige {
    color: white;
  }
</style>
<div class="top-header">
  <div class="card bg-overlay text-white text-center">
    <div class="card-body">
      <h1 class="card-title">インテリ ドリンク</h1>
      <p class="card-text">学習や仕事に集中できるドリンクを提供します</p>
      <p class="card-text">ログインをするとドリンクの記録もできます</p>
    </div>
    <div class="form-button">
        <%= link_to t('.new_drink_form_link'), new_drink_path, class: "btn btn-beige" %>
    </div>
  </div>
</div>